.footer-container {
  background-color: #152835;
}

.footer-logo {
  width: 150px;
}

.footer-title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.footer-text {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.footer-icon {
  width: 25px;
  float: left;
  margin-right: 10px;
}

.footer-list-link{
  text-decoration: none;
}
