.blue-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #152835;
  font-size: 20px;
}

.light-blue-text {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #53b3b7;
  font-size: 24px;
}

.service-icon {
  width: 113px;
  height: 116px;
}

.card-container {
    height: 293px;
  border-radius: 28px;
  border: 2px solid #53b3b7;
}
